.memes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.meme {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px 60px 4px 60px;
  text-align: center;
  width: 300px;
  margin-bottom: 32px;
}

.memeImage {
  max-width: 100%;
  border-radius: 5px;
}

.memeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.memeButtons button {
  background-color: #e376bf;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.memeButtons button:hover {
  background-color: #d9166a;
}

.memeButtons button.voted {
  background-color: #d9166a;
  color: #fff;
}

.voteNumber {
  font-size: 20px;
  padding: 8px;
}
